*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #E7F2F8;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    color: #065068;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-area
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap:10px; 
    width: 50%;
       
}
.card
{
    border-radius: 10px;
   border: 10px solid #74BDCB;
    background-color: #00485F;
    height: 8rem;
    transition: transform 0.4s;
}
.card img{
    display: none;
    height: 100%;
    width: 100%;
}
.flipped { 
    border: none;
    transform: rotateY(180deg); 
}
.flipped img {
    display: block; 
    border-radius: 10px;
} 

.score
{
    font-size: 2rem;
    margin-left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
button
{
    margin-left: 50%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}
button:hover{
    cursor: pointer;
}